<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
index
<hr>
<shiro:guest>
    欢迎游客访问，<a href="login.html">登录</a>
</shiro:guest>
<shiro:user>
    用户[
    <shiro:principal/>
    ],欢迎您
    <a href="/test/logout">退出</a>
</shiro:user>

<shiro:hasRole name="admin">
    <a href="#">我是admin</a>
</shiro:hasRole>
<shiro:hasPermission name="sys:admin:find">
    <a href="#">我是admin的find查找</a>
</shiro:hasPermission>
<hr>

能看到吗
</body>
</html>