<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
index
<hr>
<shiro:guest>
    欢迎游客访问，<a href="login.html">登录</a>
</shiro:guest>
<shiro:user>
    用户[
    <shiro:principal/>
    ],欢迎您
    <a href="/test/logout">退出</a>
</shiro:user>

<shiro:hasRole name="admin">
    <a href="#">我是admin</a>
</shiro:hasRole>
<shiro:hasPermission name="sys:admin:find">
    <a href="#">我是admin的find查找</a>
</shiro:hasPermission>
<hr>
<img src="https://2021article.oss-cn-hangzhou.aliyuncs.com/59fa30bbefa74769bbbb8421fe5f34fb_1.jpg">
广寒宫
<audio autoplay="autoplay"
       src="https://2021article.oss-cn-hangzhou.aliyuncs.com/6c17e741d299410e94b0c71ee3146dd5_丸子呦 - 广寒宫.mp3"
       controls="controls"></audio>
能看到吗
<hr>
文章上传
<form action="/oss/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="提交">
</form>


</body>
</html>